.photo_page {
  padding: var(--another-padding) var(--def-padding) 40px var(--def-padding);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 17px;
}

.category_bttn_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 500px;
  transition: .4s ease;
}

.hide_category_bttns_list {
    max-height: 0;
  }
  .hide_category_bttns_list button {
    opacity: 0;
  }
    
.hide_category_bttns_list .hide_bttns_bttn img{
    transform: rotate(-90deg);
    opacity: 1 !important;
}

.hide_category_bttns_list .hide_bttns_bttn{
    opacity: 1 !important;
    margin-bottom: 10px;
}

.category_bttn_line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.hide_bttns_bttn {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: start;
  padding-right: 5px;
  transition: .4s ease;
}
.hide_bttns_bttn img {
  transition: .4s ease;
  transform: rotate(90deg);
}

.photo_list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 600px;
}

.photo_list .photo {
  overflow: hidden;
}

.photo_list .photo img {
  border-radius: 14px;
  border: 0.67px solid #eeeeee;
}
