.faq_page {
  padding: var(--another-padding) var(--def-padding);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.faq_title {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.87px;
  margin-bottom: -5px;
}

.questions_list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}